.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f1de;
  text-align: left;
  background-clip: border-box;
}

.nav-menu {
  position: relative;
  display: block;
  min-width: 600px;
  margin-left: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #f4f1de;
  background-clip: border-box;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-button {
  margin-top: 0px;
  margin-bottom: 0px;
  float: none;
  background-color: transparent;
}

.menu-button.w--open {
  background-color: transparent;
}

.nav-link {
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 800;
}

.center-links {
  position: relative;
  top: auto;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page {
  display: block;
  overflow: visible;
  height: 100%;
  padding-left: 60px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.body {
  overflow: visible;
  height: 100%;
}

.main-container {
  overflow: visible;
  height: 100%;
}

.heading {
  margin-left: 0px;
  font-family: Raleway, sans-serif;
  font-size: 64px;
  line-height: 64px;
  font-weight: 800;
  letter-spacing: 6px;
}

.about-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.home-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.lottie-animation {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  float: left;
}

.text-span {
  color: #e07a5f;
}

.image {
  position: static;
}

.block-quote {
  font-family: 'Droid Serif', serif;
}

.text-block {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.image-2 {
  float: none;
  border-radius: 0px;
}

.container-2 {
  margin-bottom: 100px;
}

.link-block {
  float: left;
}

.home-title-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.course-page-title {
  margin-left: 40px;
  padding-bottom: 0px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.web-dev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  text-align: left;
}

.html-embed {
  margin-right: 20px;
  margin-left: 20px;
}

.course-caption {
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.course-circle {
  max-width: 80%;
  border: 2px solid #e07a5f;
  border-radius: 50%;
}

.div-block-2 {
  float: none;
  text-align: center;
}

.web-dev-section {
  margin-top: 60px;
  margin-left: 0px;
  padding-bottom: 0px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.course-description {
  font-family: 'Droid Serif', serif;
  text-align: left;
}

.course-description h2 {
  font-family: Roboto, sans-serif;
}

.course-preview {
  max-width: 28%;
  text-align: center;
}

.grid {
  margin-top: 100px;
  margin-bottom: 0px;
  padding-bottom: 140px;
  grid-column-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.contact-block {
  max-width: 75%;
  text-align: center;
}

.contact-caption {
  margin-top: 10px;
}

.contact-image {
  max-width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #e07a5f;
  border-radius: 50%;
}

.contact-info {
  margin-top: 10px;
  font-family: Raleway, sans-serif;
}

.contact-info-name {
  font-family: Raleway, sans-serif;
  font-weight: 800;
}

.footer {
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.html-embed-2 {
  margin-bottom: 0px;
}

.div-block-4 {
  position: absolute;
  left: 40px;
  bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-3 {
  max-height: 60px;
  max-width: 100%;
}

.footer-text {
  font-family: 'Droid Sans', sans-serif;
}

.image-4 {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  float: none;
  clear: none;
}

.container-3 {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.register-notice {
  position: absolute;
  left: 100px;
  bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.data-science-section {
  margin-top: 60px;
  margin-left: 0px;
  padding-bottom: 100px;
}

.course-gif {
  max-width: 300px;
}

.section-2 {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.about-paragraph {
  font-family: 'Droid Serif', serif;
}

.image-5 {
  /*margin-right: 140px;*/
  /*float: right;*/
  max-width: 70%;
}

.section-3 {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.about-images {
  flex: 1 1 0px;
}

.about-theme {
  max-width: 100%;
}

.image-6 {
  position: absolute;
  top: 0px;
  right: 0px;
  max-height: 100%;
}

#flying-cat {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  max-height: 300px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: none;
}

.button {
  position: relative;
  z-index: 20;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #e07a5f;
  font-family: Raleway, sans-serif;
  font-weight: 800;
}

.home-container {
  position: static;
  overflow: visible;
  height: 100%;
}

.home-page-container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.home-page {
  overflow: hidden;
  height: 100%;
  margin-left: 60px;
}

.button-2 {
  position: absolute;
  left: 100px;
  bottom: 20px;
  z-index: 20;
  border-radius: 10px;
  background-color: #3d405b;
  font-family: Raleway, sans-serif;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .nav-menu {
    top: auto;
    max-height: 65%;
    min-width: 100%;
    margin-top: 60px;
    margin-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .center-links {
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .page {
    padding-left: 0px;
  }

  .home-title {
    height: auto;
    margin-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .lottie-animation {
    top: auto;
    right: auto;
    bottom: 0px;
    display: block;
  }

  .home-title-copy {
    margin-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .course-page-title {
    margin-right: 20px;
    margin-left: 20px;
  }

  .section {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .web-dev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-3 {
    display: block;
    margin-left: auto;
  }

  .course-preview {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .grid {
    grid-column-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .div-block-4 {
    left: 20px;
    right: 20px;
  }

  .register-notice {
    position: relative;
    left: auto;
    bottom: auto;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .image-6 {
    position: relative;
    display: none;
    overflow: visible;
  }
}

#w-node-c7f1d659-3a83-5030-9289-5891c87e6072-1c48e776 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d1659ecd-9a9e-e1b1-84f3-02718908bc14-1c48e776 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8d19c4e2-b6da-c4d9-a390-b5ad68bca1bf-1c48e776 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d3f5d40c-81a9-558c-688a-3c055c6cf15a-1c48e776 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;

}

#w-node-_413fc079-9377-c234-886d-fa2f8b0e7e53-1c48e776 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-aa88b2b8-012c-6e5f-28ba-6615d405325f-1c48e776 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a852bf9f-8757-d84e-dcd7-3c1e64e6320c-1c48e776 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d91e41e2-8436-de6d-37ce-613878ac013a-1c48e776 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_64b95b26-06b9-cce6-ba6a-e58bac36bb2e-1c48e776 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8bfd068b-225c-8daf-59e4-80930c5239ea-1c48e776 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f4e88378-b44c-d5ba-54fd-88bbda7ae947-1c48e776 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 479px) {
  #w-node-d3f5d40c-81a9-558c-688a-3c055c6cf15a-1c48e776 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

#w-node-f4e88378-b44c-d5ba-54fd-88bbda7ae947 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

